# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=flooddb
DB_USER=your_db_user
DB_PASSWORD=your_db_password

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
MINIO_SECURE=false

# Prefect
DO_NOT_TRACK=1

# Project
BANDUNG_LAT=-6.9175
BANDUNG_LON=107.6191
